<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Banco de Datos</a>
  <span class="navbar-text">
    Universidad de Panam치
  </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Opciones
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {{#if loggedIn}}
          <a class="dropdown-item" href="/aspirante/inicio">Perfil</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/aspirante/logout">Cerrar sesi칩n</a>
          {{else}}
          <a class="dropdown-item" href="/inicio-sesion">Iniciar sesi칩n</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/registro-aspirante">Registrarse</a>
          {{/if}}
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Informaci칩n</a>
      </li>
    </ul>
  </div>
</nav>